html {
  font-family: "Noto Sans", sans-serif;
  color: #000;
}

.title, nav {
  text-align: center;
}

nav a {
  color: #005e76;
  border-bottom: 1.5px solid #8bc9d9;
}

nav a:hover {
  color: #044656;
  border-bottom: 1.5px solid #005e76;
}

footer {
  border-top: 1.5px solid #e2e2e2;
}

.max-width-article {
  max-width: 10rem;
}

@media only screen and (min-width: 25em) {

  .max-width-article {
    max-width: 17rem;
  }

}

@media only screen and (min-width: 38em) {

  .max-width-article {
    max-width: 24rem;
  }

}

@media only screen and (min-width: 60em) {

  .max-width-article {
    max-width: 24rem;
  }

  .max-length {
    max-width: 36rem;
  }

  nav {
    text-align: right;
  }

  .title {
    text-align: left;
  }

}

.japanese {
  font-family: "Noto Sans Japanese", sans-serif;
}

.btn-ghost {
  color: #005e76;
  border-color: #8bc9d9;
}

.btn-ghost:hover {
  color: #044656;
  border-color: #0084a6;
  background-color: #8bc9d9;
}

.border-top-bot {
  border-bottom: 1.5px solid #e2e2e2;
  border-top: 1.5px solid #e2e2e2;
}
