html {
  font-family: "Noto Sans", sans-serif;
  color: #000;
}

.title, nav {
  text-align: center;
}

nav a {
  color: #0084a6;
  border-bottom: 1.5px solid #8bc9d9;
}

nav a:hover {
  color: #005e76;
  border-bottom: 1.5px solid #005e76;
}

footer {
  border-top: 1.5px solid #e2e2e2;
}

@media only screen and (min-width: 60em) {

  nav {
    text-align: right;
  }

  .title {
    text-align: left;
  }
}

.japanese {
  font-family: "Noto Sans Japanese", sans-serif;
}

.btn-ghost {
  color: #0084a6;
  border-color: #8bc9d9;
}

.btn-ghost:hover {
  color: #005e76;
  border-color: #005e76;
  background-color: #8bc9d9;
}

.border-top-bot {
  border-bottom: 1.5px solid #e2e2e2;
  border-top: 1.5px solid #e2e2e2;
}
